@{
    ViewData["Title"] = "Кредит";
}
@using Curse.Controllers
@using System.Data

<h1 class="sas">Інфо кредит по банку @SearchInDatabase.TempTempBankSearch</h1>

<div class="scrollable">
    <table style="border-collapse: collapse;">
        <thead>
            <tr>

                <th>Назва Кредиту</th>
                <th>Макс Сумм</th>
                <th>Процент місяць</th>
                <th>На який термін</th>
                <th>Реальна процентна ставка</th>
                <th>Перший платіж</th>
                <th>Документи для оформлення</th>
                <th>Опис</th>
                <th>Комісія</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow item in SearchInDatabase.GetInfoCredit.Rows)
            {
                    <tr>
                        <td>@item[0]</td>
                        <td>@item[1] грн.</td>
                        <td>@item[2]%</td>
                        <td>@item[3] міс.</td>
                        <td>@item[4]%</td>
                        <td>@item[5] грн.</td>
                        <td>@item[6]</td>
                        <td>@item[7]</td>
                        <td>@item[8]%</td>
                        
                    </tr>
            }
        </tbody>
    </table>
</div>

@*<button onclick="printPage()">Печать</button>*@



<style>
    th {
        padding: 10px;
        color: white;
/*        text-shadow: 0 0 10px white;*/
    }
    td{
        padding: 10px;
        text-shadow: 0 0 10px black;
    }

    .sas{
       text-align: center;
    }

    h1{
        color: gold; 
        text-shadow: 0 0 10px gold;
    }

    .sas{
       text-align: center;
    }


</style>

@*<script>
  function printPage() {
    window.print();
  }
</script>*@